version: '3.8'
services:

  # Definición del BACKEND
  backend:
    build: ./TP-Final-IDS-Backend
    
    ports:
      - "5001:5001"
      
    command: ["python3", "-m", "flask", "run", "--debug", "--host=0.0.0.0", "--port=5001"]

    environment:
  
      - DATABASE_URL=${DATABASE_URL}
      - FLASK_ENV=development
      
    volumes:
      - ./TP-Final-IDS-Backend:/app

# Definición del  FRONTEND
  frontend:
    build: ./TP-Final-IDS-Frontend
    
    ports:
      - "5000:5000"

    command: ["python3", "-m", "flask", "run", "--debug", "--host=0.0.0.0", "--port=5000"]
      
    environment:
      - FLASK_ENV=development
      
    volumes:
      - ./TP-Final-IDS-Frontend:/app
      
    depends_on:
      - backend