{% extends 'base.html' %}
{% block title %}HOTEL BUGBUSTERS - ACTIVIDADES{% endblock %}
{% block content %}
<section class="video-hero">
  <video autoplay loop muted class="video-hero__media">
    <source
      src="{{ url_for('static', filename='videos/fondo_actividades.mp4') }}"
      type="video/mp4"
    />
  </video>
  <div class="video-hero__content">
    <h1 class="video-hero__title">Aventuras para Todos</h1>
    <p class="video-hero__description">
      Explorá, disfrutá y hacé cada día especial.
    </p>
  </div>
</section>
<section class="background-section">
  <div class="container">
    <div class="page-title">Nuestras Actividades</div>
    <div class="cards-container">
      {% for actividad in actividades %}
      <div class="card">
        <h3 class="card__title" id="actividad-{{ actividad.id }}">
          {{ actividad.name }}
        </h3>
        <div class="card__body">
          <div class="card__main-content">
            <div class="card__side-info">
              <div class="card__description--activity">
                {{ actividad.description }}
              </div>
              <div class="card__schedule">
                <strong>Cronograma:</strong> {{ actividad.schedule }}
              </div>
              <div class="card__price">
                <strong>Precio:</strong> {{ actividad.price }}
              </div>
            </div>
            <div class="card__carousel card__carousel--single">
              <img
                src="{{ url_for('static', filename=actividad.gallery) }}"
                alt="{{ actividad.name }}"
              />
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock %}
