{% extends 'base.html' %} {% block title %}Hotel Bugbusters{% endblock %}
 {% block content %}
 <h1 class="page-title">Paquetes de estadía</h1>

    <div class="cards-container">
        {% for paquete in paquetes %}
            <div class="card">
                <h3 class="card__title" id="card-title-{{ paquete.id }}">
                    {{ paquete.name }}
                </h3>
                <div class="card__body">
                    <div class="card__main-content">
                       <div class="card__carousel">
                        <div class="carousel-container" id="carousel-{{ paquete.id }}">
                            {% for imagen in paquete.gallery %}
                            <div class="carousel-slide">
                                <img src="{{ url_for('static', filename=imagen) }}" alt="{{ paquete.name }}">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-btn prev" onclick="moveSlide('{{ paquete.id }}', -1)">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="carousel-btn next" onclick="moveSlide('{{ paquete.id }}', 1)">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                        <div class="card__description">
                            {{ paquete.description| replace('\n', '<br>') |safe }}
                        </div>
                    </div>
                    <a href="{{ url_for('reserva', paquete_id=paquete.id) }}" class="card__button card__button--primary">
                        Reserva ya!
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}