{% extends 'base.html' %}

{% block content %}
<!-- Use este tuto https://www.w3schools.com/howto/howto_css_fullscreen_video.asp -->

<div class="reserva__background">
    <video autoplay loop muted class="background__video">
        <source src="{{ url_for('static', filename='/videos/fondo_reserva.mp4') }}" type="video/mp4">
    </video>
</div>

{% if paquete.id %}
<section class="reserva__section"></section>
{% else %}
<section class="reserva-personalizada__section">
    <div class="reserva-personalizada__content">
        <h1 class="reserva-personalizada__title">Reservá tu estadía</h1>
        <form class="reserva-personalizada__form" action="{{ url_for('reserva') }}" method="POST">
            <div class="form-personalizada__group">
                <div class="form-personalizada__group-item">
                    <label for="checkin">Check-in</label>
                    <input type="date" id="checkin" name="checkin" required>
                </div>
                <div class="form-personalizada__group-item">
                    <label for="checkout">Check-out</label>
                    <input type="date" id="checkout" name="checkout" required>
                </div>
            </div>
            <div class="form-personalizada__group">
                <div class="form-personalizada__group-item">
                    <label for="room">Habitacion</label>
                    <select name="room" id="room" required>
                        <option value="" disabled selected>Tipo de habitación</option>
                        {% for room in data.rooms %}
                        <option value="{{ room.id }}">{{ room.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-personalizada__group">
                <div class="form-personalizada__group-item">
                    <label for="service">Servicios</label>
                    <select name="service" id="service" required>
                        <option value="" disabled selected>Servicios</option>
                        {% for service in data.services %}
                        <option value="{{ service.id }}">{{ service.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-personalizada__group">
                <div class="form-personalizada__group-item">
                    <label for="activity">Actividades</label>
                    <select name="activity" id="activity" required>
                        <option value="" disabled selected>Actividades</option>
                        {% for activity in data.activities %}
                        <option value="{{ activity.id }}">{{ activity.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-personalizada__group">
                <div class="form-personalizada__group-item">
                    <label for="name">Nombre Completo</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-personalizada__group-item">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
            </div>
            <button type="submit" class="form-personalizada__button">¡Reserva Ya!</button>
        </form>
    </div>
</section>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/reserva.js') }}"></script>
{% endblock %}